<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login1</servlet-name>
        <servlet-class>servlet.Login1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data</servlet-name>
        <servlet-class>Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Samp</servlet-name>
        <servlet-class>servlet.Samp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login2</servlet-name>
        <servlet-class>servlet.Login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>Log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comp</servlet-name>
        <servlet-class>Comp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Callall</servlet-name>
        <servlet-class>Callall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Telelog</servlet-name>
        <servlet-class>Telelog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Telemanage</servlet-name>
        <servlet-class>Telemanage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewcomplaints</servlet-name>
        <servlet-class>Viewcomplaints</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceInsert</servlet-name>
        <servlet-class>ServiceInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>Report.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporttab</servlet-name>
        <servlet-class>Reporttab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewservice</servlet-name>
        <servlet-class>Viewservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewtelelist</servlet-name>
        <servlet-class>Viewtelelist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Custlog</servlet-name>
        <servlet-class>Custlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login1</servlet-name>
        <url-pattern>/Login1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data</servlet-name>
        <url-pattern>/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Samp</servlet-name>
        <url-pattern>/Samp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login2</servlet-name>
        <url-pattern>/Login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comp</servlet-name>
        <url-pattern>/Comp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Callall</servlet-name>
        <url-pattern>/Callall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Telelog</servlet-name>
        <url-pattern>/Telelog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Telemanage</servlet-name>
        <url-pattern>/Telemanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewcomplaints</servlet-name>
        <url-pattern>/Viewcomplaints</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceInsert</servlet-name>
        <url-pattern>/ServiceInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporttab</servlet-name>
        <url-pattern>/Reporttab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewservice</servlet-name>
        <url-pattern>/Viewservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewtelelist</servlet-name>
        <url-pattern>/Viewtelelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Custlog</servlet-name>
        <url-pattern>/Custlog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
