@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url('call center 2.jpeg') ;
    background-size: cover;
    background-position: center;
    animation:change 10s infinite ease-in-out;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}



.Halcycon Call Center{
    font-size: 2em;
    color: #fff;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, lightpink, blueviolet);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid burlywood;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:linear-gradient(90deg, lightpink, blueviolet);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}    
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

@keyframes change{
    0%
    {
        background-image:url('call center3.jpg');
    }
    20%
    {
        background-image:url('call center 4.jpg');
    }
}

